*{
	font-family:arial
}
header .container {
	margin : 15px auto;
	padding: 0 15px;
    padding:20px;
    color: #AAA;
    border-bottom: 1px solid #999;
    font-size:25px;

}
.row{
    background-color:#EEE;
	border:none;
}
p{
	font-weight:bold;
	color:#333;
}
 footer .container {

	border-top: 1px solid #999;
}
footer .container p
{
    color: #AAA;
    font-size:14px;
}
table{
	width:100%;
	margin:15px 0px;
}
.neww {
	margin:10px 0;
	padding:20px;
}
.neww a {
	text-decoration:none;
}
.neww  h3{
	width:25%;
	color:#333;
}
.btn{
	padding:10px 15px;
	font-size:15px;
	margin:0px 5px;
	cursor: pointer;
	border-radius:5px;
	
}

